:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #eaeef5;
  --light-blue-200: #d8e1ed;
  --light-blue-300: #c0cde1;
  --light-blue-400: #a6b4d3;
  --light-blue-500: #8f9cc5;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font: 400 1rem "Inter", sans-serif;
  background-color: var(--light-blue-100);
  color: var(--gray-500);

  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 2rem 0 5rem;

  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
}

.col-left {
  width: 100%;

  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 5rem;
}

main {
  width: 100%;
  height: 100%;
  padding-left: 15rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-footer {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-footer-alert {
  display: flex;
  gap: 0.5rem;

  font-size: 0.75rem;
}

.main-buttons {
  width: 100%;

  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.col-right {
  width: 30rem;
  height: 48rem;
  padding: 0rem 2rem;

  border-radius: 2rem;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-right-box {
  width: 100%;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: center;
}

.col-right-box h1 {
  margin-top: 1.5rem;
  line-height: 1.8rem;

  font: 700 1.5rem "Inter", sans-serif;
  color: var(--gray-500);
}

.col-right-box p {
  color: var(--gray-400);
  line-height: 1.5rem;
}

.col-right-box img {
  width: 95%;
}

.message-processed {
  width: 100%;
  height: 100%;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.message-processed-text {
  width: 100%;

  white-space: wrap;
  word-wrap: break-word;
  overflow: break-word;

  line-height: 36px;
}

footer {
  width: 100%;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark-blue-500);
}

footer span {
  font-size: 0.875rem;
}
